body{
    background-color: #000000;
}

.header{
    text-align: center;
    color: #3c8edbe0;
}

.para{
    width: 60%;
    height: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    background-color: #db6276;
    border: thick solid #6049df;
    border-radius: 100px;
}

.col-1{
    display: block;
    float: left;
    margin-left: 250px;
}
.col-2{
    display: block;
    float: right;
    margin-right: 250px;
}

.image{
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    border: thick solid #8f49d1;
    border-radius: 100px;
}

.myName{
    color:#910891;
    text-align: center;
}

.list{
  color: #eb708f;
  margin-left: 650px;

}